<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MinipjMapper">

  <!-- 로그인/회원가입 -->
  <select id="findClientOne" resultType="CDTO" parameterType="hashmap"> 
    select client_no, client_id, client_pw, client_nm, phone, secession_fl
    from client
    where client_id = #{client_id} and client_pw = #{client_pw}
  </select>
  
  <select id="findManagerOne" resultType="MDTO" parameterType="hashmap"> 
    select manager_no, manager_id, manager_pw, phone
    from manager
    where manager_id = #{manager_id} and manager_pw = #{manager_pw}
  </select>
  
  <insert id ="addC" parameterType="CDTO" >
    insert into client (client_no, client_id, client_pw, client_nm, phone, secession_fl) 
    values (client_no_seq.nextval, #{client_id}, #{client_pw}, #{client_nm}, #{phone}, #{secession_fl})
  </insert>
  
  <insert id ="addM" parameterType="MDTO" >
    insert into manager (MANAGER_NO, MANAGER_ID, MANAGER_PW, PHONE) 
    values (manage_no_seq.nextval, #{manager_id}, #{manager_pw}, #{phone})
  </insert>
  
  <!-- 클라이언트 -->
  <select id="selectResAll" resultType="RDTO">
  	select place_no, place_nm from place
  </select>
  <select id="selectReservation" resultType="RDTO">
  	select place_no, client_no, end_use, res_date, res_no
	from reservation
  </select>
  
  <select id="placeResList" resultType="RDTO" parameterType="int">
  	select place_no, client_no, end_use, substr(res_date,1,4)||'년'||substr(res_date,5,2)||'월'||substr(res_date,7,2)||'일' res_date, res_no
	from reservation
	where place_no=#{place_no}
  </select>
  
  <insert id="addRes" parameterType="RDTO">
  	insert into reservation (place_no, client_no, end_use, res_date, res_no)
  	values (#{place_no}, #{client_no}, #{end_use}, #{res_date}, res_no_seq.nextval)
  </insert>
  
  <select id="selectClientNoRes" resultType="RDTO" parameterType="int">
  	select place_no, client_no, end_use, substr(res_date,1,4)||'년'||substr(res_date,5,2)||'월'||substr(res_date,7,2)||'일' res_date, res_no
	from reservation
	where client_no=#{client_no}
  </select>
  
  <delete id="deleteRes" parameterType="int">
  	delete from reservation
	where res_no = #{res_no}
  </delete>
  
  <update id="updateResDate" parameterType="hashmap">
  	update reservation
	set res_date = #{res_date}
	where res_no = #{res_no}
  </update>
  
  <!-- 매니저 -->
  <select id="manageAllPlace" resultType="PDTO" parameterType="int">
  	select place_no, manager_no, place_nm, place_ard
	from place
	where manager_no = #{manager_no}
  </select>
  
  <select id="reservationClientFind" resultType="RDTO" parameterType="int">
  	select client_no, substr(res_date,1,4)||'년'||substr(res_date,5,2)||'월'||substr(res_date,7,2)||'일' res_date, client_nm, place_nm, place_ard
	from reservation join client using(client_no)
	join place using(place_no)
	where manager_no = #{manager_no}
  </select>
  
  <select id="managePlace" resultType="PDTO" parameterType="int">
  	select place_no, place_nm, place_ard from place where manager_no=#{manager_no}
  </select>
  
  <update id="updateResEndUse" parameterType="int">
  	update reservation
	set end_use='Y'
	where place_no=#{place_no}
  </update>
  
  <!-- 검증 -->
  <select id="selectPlaceNoResDate" resultType="RDTO" parameterType="int">
  	select place_no, res_date
	from reservation
	where place_no = (select place_no
    from reservation
    where res_no=#{res_no})
  </select> 
  
  <select id="selectResDateWherePNo" resultType="RDTO" parameterType="int">
  	select place_no, res_date
	from reservation
	where place_no = #{place_no}
  </select> 
</mapper>